body, html {
  height: 100%;
}

.main_container {
  min-height: 100%;
  background-image: url('../images/floresta2.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -10em;
}

.titulo {
  font-size: 6em;
}

.subtitulo {
  font-size: 2em;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.start_button {
  padding: 10px 20px;
  background-color: #2ecc71;
  font-size: 1.5em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.start_button:hover {
  background-color: #27ae60;
}

.regras_button {
  padding: 10px 20px;
  background-color: #333;
  font-size: 1.5em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-top: 1em;
  color: #fff;
  text-decoration: none;
}

.regras_button:hover {
  background-color: #555;
}